.caracteristicas {
  display: grid;
  grid-template-columns: 420px 420px;
  justify-content: center;
  gap: 100px;
  margin: 200px 0px 200px 0px;
}

.caracteristicasDetalle {
  text-align: center;
  color: var(--White);
}