.caracteristicas {
  display: grid;
  grid-template-columns: 420px 420px;
  justify-content: center;
  gap: 100px;
  background-color: hsl(218, 28%, 13%);
}

.caracteristicasDetalle {
  text-align: center;
  color: var(--White);
}

@media screen and (max-width: 375px) {
  .caracteristicas {
    display: flex;
    flex-direction: column;
  }
}