.button {
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--White);
}

.button2 {
  background-color: hsl(176, 68%, 64%);
  height: 55px;
  border-radius: 50px;
  width: 175px;
  margin-left: 50px;
  border: none;
  cursor: pointer;
}
