.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../../../public/icons/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 180px;
}

.header__image {
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.header__title {
    color: var(--White);
}

.header__description {
    width: 500px;
}

.header__text {
    margin: 0px;
    color: var(--White);
}
