.footer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 100px 15px 100px 15px;
  gap: 5px;
  background-color: var(--Dark-Blue3-);
}
.footer__section__about {
  width: 400px;
  position: relative;
}
.footer__logo {
}
.footer__icon {
  position: absolute;
  top: 75px;
  left: 0px;
}
.footer__text {
  color: var(--White);
  padding: 0px 40px 0px 20px;
}
.footer__section__contact {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  grid-template-rows: 45px 1fr;
  grid-template-columns: 30px 1fr;
  padding-top: 60px;
}
.footer__icon__phone {
  grid-area: a;
  margin-top: 20px;
}
.footer__icon__email {
  grid-area: c;
  margin-top: 20px;
}
.footer__text__phone {
  color: var(--White);
  grid-area: b;
}
.footer__text__email {
  color: var(--White);
  grid-area: d;
}
.footer__section__links {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-top: 60px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__section__social {
  display: flex;
  height: 40px;
  gap: 20px;
  padding: 70px;
  scale: 0.7;
}
.footer__social_icon_facebook {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
.footer__social_icon_twitter {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
.footer__social_icon_instagram {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

@media screen and (max-width: 375px) {
  .footer{
    flex-direction: column;
  }
  .footer__section__links {
    display: flex;
    flex-direction: column;
  }
  .footer__section__about {
    width: 355px;
  }
}