#root {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: var(--Dark-Blue2-);
  margin: 0 auto;
}

:root {
  --Dark-Blue1-: hsl(217, 28%, 15%); /* (intro and email sign up background) */
  --Dark-Blue2-: hsl(218, 28%, 13%); /* (main background) */
  --Dark-Blue3-: hsl(216, 53%, 9%); /* (footer background) */
  --Dark-Blue4-: hsl(219, 30%, 18%); /* (testimonials background) */
  --Cyan-: hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
  --Blue-: hsl(198, 60%, 50%); /* (inside call-to-action gradient) */
  --Light-Red-: hsl(0, 100%, 63%); /* (error) */
  --White: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"); /* font-family: 'Raleway', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); /* font-family: 'Open Sans', sans-serif; */
