.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-family: "Raleway", sans-serif;
  background-color: var(--Dark-Blue2-);
  color: hsl(0, 0%, 100%);
}

.nav {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.nav__item {
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link:hover {
  text-decoration: underline;
}
